html, body {
    background: url("/assets/background_images/brown_background.png") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

#main_block{
    height: 100vh;
}

.general_block_info{
    background-color: #00000060;
    border: 2px solid #000000;
    box-shadow: inset 0px 0px 27px 2px rgba(0,0,0,0.75);
    padding: 60px;
}

.status_block_info{
    height: 100px;
}

.sprite_block_info{
    height: 400px;
}

.unit_image{
    margin: auto;
    max-width: 230px;
    max-height: 330px;
}

.animated {
    animation: shake 0.7s;
    animation-iteration-count: 100;
}

.animated_unit {
    animation: shake_unit 0.5s;
    animation-iteration-count: 100;
}

.slide_bottom {
	animation: slide-bottom 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@keyframes shake_unit {
   10%, 90% {
     transform: translate3d(1px, 5px, 0);
   }
   
   20%, 80% {
     transform: translate3d(5px, -1px, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-2px, 3px, 0);
   }
  
   40%, 60% {
     transform: translate3d(3px, 4px, 0);
   }
 } 

 @keyframes slide-bottom {
    0% {
              transform: translateY(0);
              opacity: 100%;
    }
    100% {
              transform: translateY(100px);
              opacity: 0%;
    }
  }