html,
body {
    background: url("/assets/background_images/SignInBackground.jpeg") no-repeat center center fixed;
    background-size: cover;
}

.sing_in_box {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 27px 32px 64px -6px rgba(0, 0, 0, 1);
    border: 1px solid #000000;
}

.public_shadow {
    box-shadow: 17px 27px 47px -15px rgba(0, 0, 0, 1);
}